.action-sheet {
  &__header {
    display: flex;
    font-size: $font-size-lg;
  }

  &__header-image {
    width: 100px * $hd;
    height: 100px * $hd;
  }

  &__header-text {
    align-self: center;
  }
  
  &__action .at-button {
    border-radius: 0;
    border: none;
  }

  &__action .at-button--secondary {
    background: $color-grey-1;
    color: #fff;
  }

  &__list-item {
    @include hairline-top();
  }

  &__list-item-title {
    font-size: $font-size-base;
    color: $color-black-2;
  }
}