.card {
  &-img-top {
    width: 100%;
    height: 300px * $hd;
  }

  &-title {
    font-size: $font-size-xl;
    font-weight: bold;

    &-text {
      display: inline-block;
      position: relative;
    }

    &-badge {
      position: absolute;
      right: -4px * $hd;
      top: -4px * $hd;
    }
  }

  &-subtitle {
    font-size: $font-size-lg;
  }

  &-text {
    font-size: $font-size-lg;
    color: $color-black-1;
  }

  &-swiper {
    height: 320px * $hd;
  }
}