.tab-bar {
  padding: 0;
}

.tab-bar::after {
  border-top-width: 0;
}

.tab-bar__item {
  height: 100%;
  flex: 1;
  margin: 0;
}

.tab-bar__item--icon {
  padding-top: $spacing-v-lg;
  border-top: 1px solid $color-border-lighter;
}

.tab-bar__item .at-button {
  border-radius: 0;
  border: none;
  font-size: $font-size-base;
}

.tab-bar__item .at-button--secondary {
  background: $color-grey-1;
  color: #fff;
}

.tab-bar__item--text-button {
  @include hairline-top();
}

.tab-bar__item--text {
  @include hairline-top();
  font-size: $font-size-base;
  flex: 2;
  padding-top: $spacing-v-lg;
}