@import "variable_overrides";
@import "~taro-ui/dist/style/index.scss";
@import "variables";
@import "utilities";
@import "page";
@import "card";
@import "placeholder";
@import "wxparse";
@import "material-icon";
@import "tab-bar";
@import "action-sheet";

.list__item {
  display: flex;
  justify-content: space-between;
  padding: $spacer;
  @include hairline-bottom();

  &:active {
    background: $color-grey-6;
  }

  &-checkbox {
    align-self: center;
    height: 120px * $hd;
    width: 30px * $hd;
    display: flex;
    align-items: center;
  }

  &-image {
    width: 120px * $hd;
    height: 120px * $hd;
  }

  &-content {
    font-size: $font-size-base;
    align-self: center;
    flex: 1;
    padding: $spacer;
  }

  &-content-header {
    font-weight: bold;
  }

  &:nth-last-child(1)::after {
    border-bottom-width: 0;
  }
}

.form {
  font-size: $font-size-base;
}

.form .at-input {
  margin-left: 0;
}

.form .at-button {
  border-radius: 0;
}